.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.cart-icon {
  margin-left: 16px;
}

.active-link {
  background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 599px) {
  .content {
    padding: 16px;
  }
}